<main data-view="about" data-ui="light" class="about">
    <section class="about__content">
      <p class="about__lead">
        Aubin Delhaye est un designer graphique multidisciplinaire basé entre Bruxelles et Grenoble.
        Diplômé d’un Diplôme Supérieur d’Arts Appliqués, il développe une pratique attentive aux formes, aux usages et aux contextes.
      </p>
  
      <p class="about__lead">
        En collaboration étroite avec des structures culturelles, des marques et des projets indépendants, il conçoit des stratégies créatives et des identités visuelles pensées comme des systèmes clairs, cohérents et durables. Sa pratique s’appuie sur l’expérimentation, la précision et une attention particulière portée au détail, tant sur le plan conceptuel que visuel.      </p>

      <p class="about__lead">
        Nourri par l’art, la musique, la technologie et la mode, il envisage le design comme un champ ouvert, à la croisée de la réflexion et de la forme, au service de projets porteurs de sens.    </section>
  
    <section class="about__meta">
      <div class="about__meta-col">
        <div class="about__meta-title">Contact</div>
        <a class="about__meta-link" href="mailto:studio@salutaubin.com">studio@salutaubin.com</a>
      </div>
  
      <div class="about__meta-col">
        <div class="about__meta-title">Réseaux Sociaux</div>
        <a class="about__meta-link" href="https://instagram.com/salutaubin" target="_blank" rel="noopener">Instagram</a>
        <a class="about__meta-link" href="https://www.linkedin.com/in/aubin-delhaye-20b8ba170/" target="_blank" rel="noopener">Linkedin</a>
      </div>
    </section>
  </main>
  