<main data-view="hero" class="hero-view">
<section class="hero">
<div class="swiper hero-swiper">
<div class="swiper-wrapper">
<div class="swiper-slide" data-ui="dark">
<img alt="" src="img/hero/1.webp"/>
</div>
<div class="swiper-slide" data-ui="dark">
<video autoplay="" loop="" muted="" playsinline="">
<source src="video/hero-1.webm" type="video/webm"/>
</video>
</div>
<div class="swiper-slide" data-ui="light">
<img alt="" src="img/hero/2.webp"/>
</div>
<div class="swiper-slide" data-ui="dark">
    <video autoplay="" loop="" muted="" playsinline="">
    <source src="video/hero-4.webm" type="video/webm"/>
    </video>
    </div>
    <div class="swiper-slide" data-ui="light">
        <video autoplay="" loop="" muted="" playsinline="">
        <source src="video/hero-5.webm" type="video/webm"/>
        </video>
        </div>
        <div class="swiper-slide" data-ui="dark">
            <img alt="" src="img/hero/7.webp"/>
            </div>
        <div class="swiper-slide" data-ui="light">
            <video autoplay="" loop="" muted="" playsinline="">
            <source src="video/hero-6.webm" type="video/webm"/>
            </video>
            </div>
</div>
</div>
</section>
</main>
